<div class="iconsHeader">
  <mat-menu></mat-menu>
  <button routerLink="/tabelaSaAdvokatima"  mat-button> Pretraga Majstora</button>
  <button routerLink="/kreiranjeSlucaja" mat-button>Kreiraj slučaj</button>
  <button routerLink="/slanjeSlucaja" mat-button>Slanje Slučaja</button>
  <button routerLink="/pregledSlucajaKorisnik" mat-button>Odgovori Majstora</button>

  <mat-menu #pretraga="matMenu"></mat-menu>

  <button mat-icon-button (click)="clearCount()" routerLink="/notification">
    <mat-icon class="material-icons">add_alert</mat-icon>
    <span class="badge" *ngIf="badgeCount > 0">{{badgeCount}}</span>
  </button>
  <div>

    <button mat-button [mat-menu-trigger-for]="profile" #menuTrigger="matMenuTrigger"
            (mouseenter)="menuTrigger.openMenu()"> {{ulogovaniKorisnik}}</button>
    <mat-menu #profile="matMenu" (mouseleave)="menuTrigger.closeMenu()">
      <button mat-menu-item routerLink="/editKorisnik">
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="auth.logout()">
        <span>Logout</span>
      </button></mat-menu>
    <button mat-button (click)="auth.logout()"></button>
  </div>
</div>
