<mat-tab-group (selectedTabChange)="handleTabChange($event.index)">
  <mat-tab label="Prihvaceni">
  </mat-tab>
  <mat-tab label="U Procesu">
  </mat-tab>
  <mat-tab label="Odbijeni">
  </mat-tab>
  <mat-tab label="Odbijeni od korisnika">
  </mat-tab>
</mat-tab-group>
<mat-card>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="ime">
      <th mat-header-cell *matHeaderCellDef> Ime: </th>
      <td mat-cell *matCellDef="let element"> {{element.ime}} </td>
    </ng-container>
    <ng-container matColumnDef="prezime">
      <th mat-header-cell *matHeaderCellDef> Prezime </th>
      <td mat-cell *matCellDef="let element"> {{element.prezime}} </td>
    </ng-container>

    <ng-container matColumnDef="cena">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ponudjena cena </th>
      <td mat-cell *matCellDef="let element">

        <!-- <div *ngIf="element.slucaj.cenovniks == null ;else content ">
          Postavite cenu
        </div> -->
        <!-- <ng-template #content>
          <div *ngFor="let cenovnik of element.slucaj.cenovniks">
            <div *ngIf="cenovnik.idenityId === element.slucaj.korisnik.idenity.id ">
              {{cenovnik.kolicina}}
            </div>
          </div>
        </ng-template> -->
        <div>
            {{element.kolicina}}
          </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="opis">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Opis Slucaja </th>
      <!-- <td mat-cell *matCellDef="let element"> {{element.slucaj.opis}} </td> -->
      <td mat-cell *matCellDef="let element"> <a (click)="openDialogPrikazSlucaja(element)">{{element.slucaj.opis}}
        </a></td>

    </ng-container>
    <ng-container matColumnDef="najkasnijiOdgovor">
      <th mat-header-cell *matHeaderCellDef> Najkasniji odgovor </th>
      <td mat-cell *matCellDef="let element"> {{element.krajnjiRokZaOdgovor}} </td>
    </ng-container>

    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef> Prihvati/Odbi </th>
      <td mat-cell *matCellDef="let element">
        <!-- <div *ngIf="element.slucaj.cenovnik === null || element.slucaj.cenovnik.statusId !== 2; else content1"> -->
        <div *ngIf="element.slucajStatusId === 6 || element.slucajStatusId === 1 ; else content">
            <!-- <div *ngIf="element.slucajStatus === 1; else prihvacen" > -->
          <button mat-icon-button (click)="redirectToAccept(element)" *ngIf="element.slucajStatusId !== 1">
            <mat-icon class="material-icons">done </mat-icon>
          </button>
          <button mat-icon-button (click)="openDialogEdit(element)">
            <mat-icon class="material-icons">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="redirectToReject(element)">
            <mat-icon class="material-icons">delete</mat-icon>
          </button>
            <!-- </div> -->
        </div>
        <ng-template #content>
          {{handleButton(element)}}
        </ng-template>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
