table {
    width: 100%;
  }
  .my-tooltip {
    white-space: pre-line;
}
.search{
  display: flex;
    justify-content: center;
}
.select{
  display: flex;
    justify-content: center;
}
.field-search{
  width: 50%;
}