<mat-card>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="ime">
      <th mat-header-cell *matHeaderCellDef> Ime: </th>
      <td mat-cell *matCellDef="let element"> {{element.slucaj.korisnik.ime}} </td>
    </ng-container>
    <ng-container matColumnDef="prezime">
      <th mat-header-cell *matHeaderCellDef> Prezime </th>
      <td mat-cell *matCellDef="let element"> {{element.slucaj.korisnik.prezime}} </td>
    </ng-container>

    <ng-container matColumnDef="cena">
      <th mat-header-cell *matHeaderCellDef> Ponudjena cena </th>
      <td mat-cell *matCellDef="let element">

        <div *ngIf="element.slucaj.cenovnik == null ;else content ">
          Postavite cenu
        </div>
        <ng-template #content>
          {{element.slucaj.cenovnik.kolicina}}
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="opis">
      <th mat-header-cell *matHeaderCellDef> Opis Slucaja </th>
      <td mat-cell *matCellDef="let element"> {{element.slucaj.opis}} </td>
    </ng-container>
    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef> Prihvati/Odbi </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.slucajStatusId === 6 || element.slucajStatusId === 1; else content">
          <button mat-icon-button (click)="openDialog(element)">
            <mat-icon class="material-icons">done </mat-icon>
          </button>
          <button mat-icon-button (click)="openDialogEdit(element)">
            <mat-icon class="material-icons">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="redirectToReject(element)">
            <mat-icon class="material-icons">delete</mat-icon>
          </button>
        </div>
        <ng-template #content>
            Ceka se odgovor Klijenta
          </ng-template>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
