.createC{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.mainCard {
    display: flex;
    justify-content: center;
    box-shadow: 1px 5px 15px #888;
    padding: 1% 3% 3% 2%;
    flex-direction: column;
    max-width: 70%;
}
div.show-image {
    position: relative;
    float:left;
    margin:5px;}

div.show-image:hover mat-icon
  {
  display: block;
  }

div.show-image mat-icon {
    position:absolute;
    top:0;
    left:0;
    display:none;
}
.showPicture {
    flex-wrap: wrap;
}