<div class="register">
  <mat-card class="register-card">

    <form [formGroup]="form" (ngSubmit)="authService.registration(form.value)">
      <div>
        <mat-form-field>
          <input matInput type="text" placeholder="Ime" formControlName="Ime">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="text" placeholder="Prezime" formControlName="Prezime">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="text" placeholder="User name" formControlName="UserName">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="Password">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="text" placeholder="Email" formControlName="Email">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="text" placeholder="Mesto" formControlName="Mesto">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="text" placeholder="Ulica i broj" formControlName="Ulica">
        </mat-form-field>
      </div>
      <div class="button-registar">
      <button mat-button color="primary">Register</button>
    </div>
    </form>
  </mat-card>
</div>