<div fxFlex fxLayout fxLayoutAlign="center center">
  <!-- <a mat-button> Registracija Advokata </a> -->

  <button routerLink="/registracijaAdvokata" mat-button *ngIf="_type === 'AdminAdvokat'"> Registracija Advokata</button>
  <button routerLink="/dodajKategoriju" mat-button *ngIf="_type === 'AdminAdvokat'"> Dodaj Kategoriju</button>
  <button routerLink="/dodajPodkategoriju" mat-button *ngIf="_type === 'AdminAdvokat'"> Dodaj Podkategoriju</button>
  <button routerLink="/pregledUgovora" mat-button> Pregled Slucaja</button>
  <button mat-icon-button (click)="clearCount()" routerLink="/notification">
    <mat-icon class="material-icons" routerLink="/pregledUgovora">add_alert</mat-icon>
    <span class="badge" *ngIf="badgeCount > 0">{{badgeCount}}</span>
  </button>



  <div>

    <button mat-button [mat-menu-trigger-for]="profile" #menuTrigger="matMenuTrigger"
      (mouseenter)="menuTrigger.openMenu()"> {{ulogovaniKorisnik}}</button>

    <mat-menu #profile="matMenu" (mouseleave)="menuTrigger.closeMenu()">
      <button mat-button routerLink="/editProfila">
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="auth.logout()">
        <span>Logout</span>
      </button></mat-menu>
    <button mat-button (click)="auth.logout()"></button>
  </div>
</div>
