/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* @import '~material-icons/iconfont/material-icons.css'; */
/* table {
  width: 100%;
} */
.footer{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
  height: 40px;
  z-index: 999;
  position:fixed;
  flex-shrink: 0;
}
.mat-tab-labels{
  justify-content: center;
}
.mat-table{
  mat-cell:first-child, mat-footer-cell:first-child, mat-header-cell:first-child {
    padding-left: 24px;
  }
}
