<mat-tab-group (selectedTabChange)="handleTabChange($event.index)">
  <mat-tab label="Svi">
  </mat-tab>
  <mat-tab label="Prihvaceni">
  </mat-tab>
  <mat-tab label="U Procesu">
  </mat-tab>
  <mat-tab label="Odbijeni">
  </mat-tab>
  <mat-tab label="Odbijeni od korisnika">
  </mat-tab>
</mat-tab-group>
<div class="search">
  <mat-form-field class="field-search">
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="filterInputValue">
  </mat-form-field>
</div>
<div class="select">
  <mat-form-field>
    <mat-label>Odaberite slučaj</mat-label>
    <mat-select [(ngModel)]="slucajValue">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let slucaj of sviSlucajeviOdabir" [value]="slucaj">{{slucaj.naziv}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<mat-card>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="ime">
      <th mat-header-cell *matHeaderCellDef> Ime: </th>
      <td mat-cell *matCellDef="let element"> {{element.ime}} </td>
    </ng-container>
    <ng-container matColumnDef="prezime">
      <th mat-header-cell *matHeaderCellDef> Prezime </th>
      <td mat-cell *matCellDef="let element"> {{element.prezime}} </td>
    </ng-container>

    <ng-container matColumnDef="cena">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ponuđena cena </th>
      <td mat-cell *matCellDef="let element">
        <div>
          {{element.kolicina}}
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="opis">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Slučaj </th>
      <!-- <td mat-cell *matCellDef="let element"> {{element.slucaj.opis}} </td> -->
      <td mat-cell *matCellDef="let element"> <a (click)="openDialogPrikazSlucaja(element)">{{element.slucaj.naziv}}
        </a></td>

    </ng-container>
    <ng-container matColumnDef="najkasnijiOdgovor">
      <th mat-header-cell *matHeaderCellDef> Najkasniji odgovor </th>
      <td mat-cell *matCellDef="let element"> {{element.krajnjiRokZaOdgovor | date: 'mediumDate'}} </td>
    </ng-container>
    <ng-container matColumnDef="pocetakRada">
      <th mat-header-cell *matHeaderCellDef> Pocetak rada</th>
      <td mat-cell *matCellDef="let element"> {{element.pocetakRada | date: 'mediumDate'}} </td>
    </ng-container>
    <ng-container matColumnDef="zavrsetakRada">
      <th mat-header-cell *matHeaderCellDef> Završetak rada </th>
      <td mat-cell *matCellDef="let element"> {{element.zavrsetakRada | date: 'mediumDate'}} </td>
    </ng-container><ng-container matColumnDef="poslednjaIzmena">
      <th mat-header-cell *matHeaderCellDef> Poslednja izmena </th>
      <td mat-cell *matCellDef="let element"> {{element.izmenaSlucaja | date: 'mediumDate'}} </td>
    </ng-container><ng-container matColumnDef="datumPrijema">
      <th mat-header-cell *matHeaderCellDef> Datum prijema </th>
      <td mat-cell *matCellDef="let element"> {{element.primanjeSlucaja | date: 'mediumDate'}} </td>
    </ng-container>
    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef> Prihvati/Odbi </th>
      <td mat-cell *matCellDef="let element">
        <!-- <div *ngIf="element.slucaj.cenovnik === null || element.slucaj.cenovnik.statusId !== 2; else content1"> -->
          <div *ngIf="chekData(element.krajnjiRokZaOdgovor) == true; else prosloVreme">
        <div *ngIf="element.slucajStatusId === 6 || element.slucajStatusId === 1 ; else content">
          <!-- <div *ngIf="element.slucajStatus === 1; else prihvacen" > -->
          <button mat-icon-button (click)="redirectToAccept(element)" *ngIf="element.slucajStatusId !== 1">
            <mat-icon class="material-icons">done </mat-icon>
          </button>
          <button mat-icon-button (click)="openDialogEdit(element)">
            <mat-icon class="material-icons">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="redirectToReject(element)">
            <mat-icon class="material-icons">delete</mat-icon>
          </button>
          </div>
        </div>
        <ng-template #prosloVreme>
            Isteklo je vreme za dogovor
          </ng-template>
        <ng-template #content>
          {{handleButton(element)}}
        </ng-template>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
