.registracijaMajstora{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.registracijaMajstora-card{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 5px 15px #888;
    padding: 1% 3% 3% 2%;
}

  .button-registar{
    display: flex;
    justify-content: center;
  }
