
  <div class="doubleflexbra">
    <slideshow *ngIf="images && images.length > 0; else context" [height]="'600px'" [minHeight]="'405px'"
               [showArrows]="true" [imageUrls]="images" [lazyLoad]="images.length > 1" [autoPlayWaitForLazyLoad]="true"
               style="width: 100%;">
    </slideshow>

    <div mat-dialog-actions style="justify-content: center;">
      <button mat-button (click)="close()">Close</button>
    </div>

    <ng-template #context>
      No pictures
    </ng-template>
  </div>
