<div class="filters">
  <mat-form-field class="inputFilter">
    <input [(ngModel)]="filterInputValue" matInput type="text" placeholder="Filter">
  </mat-form-field>
  <div *ngIf="kategorijaValue || filterInputValue || podkategorijaValue">
    <button mat-button (click)="resetFilters()">
      <mat-icon class="material-icons">delete</mat-icon>
    </button>
  </div>
</div>
<div class="kategorije">
  <mat-form-field class="inputSelect">
    <mat-select [(ngModel)]="kategorijaValue" (selectionChange)="onParentChanged($event)"
                placeholder="Unesite Kategoriju">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let kategorija of kategorije" [value]="kategorija">
        {{kategorija.naziv}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="inputSelect">
    <!-- [(ngModel)]="selectedId" -->
    <mat-select [(ngModel)]="podkategorijaValue" placeholder="Unesite pod Kategoriju">
      <!-- <mat-option>--</mat-option> -->
      <mat-option *ngFor="let podKategorija of podKategorije" [value]="podKategorija">
        {{podKategorija.naziv}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="table">

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [style.display]="'none'">id</th>
      <td mat-cell *matCellDef="let majstor" [style.display]="'none'">{{majstor.Id}}</td>
    </ng-container> -->

    <ng-container matColumnDef="ime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ime</th>
      <td mat-cell *matCellDef="let majstor">{{majstor.ime}}</td>
    </ng-container>

    <ng-container matColumnDef="prezime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Prezime</th>
      <td mat-cell *matCellDef="let majstor">{{majstor.prezime}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let majstor">{{majstor.email}}</td>
    </ng-container>

    <ng-container matColumnDef="mesto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mesto</th>
      <td mat-cell *matCellDef="let majstor">{{majstor.mesto}}</td>
    </ng-container>
    <ng-container matColumnDef="ulica">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ulica</th>
      <td mat-cell *matCellDef="let majstor">{{majstor.ulica}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
<div class="paginator">
  <mat-paginator [pageSize]="2" [pageSizeOptions]="[2, 4, 6, 10, 20]">
  </mat-paginator>
</div>
