<div mat-dialog-content>
    <p>Odaberite vrstu placanja</p>

    <mat-form-field>
        <mat-label>Odaberite vrstu placanja</mat-label>
        <mat-select [(ngModel)]="data.vrstaPlacanja" required>
            <mat-option value="procentualno">Procentualno</mat-option>
            <mat-option value="novcano">Novcano</mat-option>
          </mat-select>

    </mat-form-field>
    <p>Odaberite kolicinu</p>
    <mat-form-field>
    <input matInput [(ngModel)]="data.kolicina" />
    </mat-form-field>

    <p>Vas komentar</p>
    <mat-form-field>
        <input matInput [(ngModel)]="data.komentar">
    </mat-form-field>
    <mat-form-field *ngIf="hideUserOptions">
            <input matInput [(ngModel)]="data.zavrsetakRada" [matDatepicker]="picker" placeholder="Izaberite zavrsetak rada">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        <mat-checkbox *ngIf="hideUserOptions" [(ngModel)]="data.isKonacan">Konacna cena</mat-checkbox>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button (click)="onYesClick()" [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
