<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Odaberite slucaj</ng-template>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              Unesite novi slucaj
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput [(ngModel)]="noviSlucaj.naziv" formControlName="noviSlucajNaziv"
                   placeholder="Naziv slucaja">
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="noviSlucaj.opis" formControlName="noviSlucajOpis" placeholder="Opis slucaja">
          </mat-form-field>
          <button mat-button (click)="kreiranjeSlucaja()"> Snimi </button>

        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelStanje = true" (closed)="panelStanje = false">

        </mat-expansion-panel>

      </mat-accordion>
      <mat-card>
        <div>
          <p>opis</p>
          <mat-form-field>
            <mat-label>Odaberite slucaj</mat-label>
            <!-- <mat-select [(ngModel)]="odabraniSlucaj" [formControl]="kategorijaFilter" formControlName="firstCtrl" required> -->
            <mat-select [(ngModel)]="odabraniSlucaj"  formControlName="firstCtrl" required>
              <mat-option *ngFor="let slucaj of slucajevi" [value]="slucaj">{{slucaj.naziv}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <button mat-button matStepperNext>Next</button>
      </mat-card>
    </form>
  </mat-step>

  <!-- <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Odaberite cenovnik</ng-template>

      <mat-form-field>
        <mat-label>Odaberite vrstu placanja</mat-label>
        <mat-select [(ngModel)]="cenovnik.vrstaPlacanja" formControlName="secondCtrl" required>
          <mat-option value="procentualno">Procentualno</mat-option>
          <mat-option value="novcano">Novcano</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Unesite cifru" [(ngModel)]="cenovnik.kolicina" formControlName="secondCtrl1"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step> -->

  <mat-step [stepControl]="thridFormGroup">
    <form [formGroup]="thridFormGroup">
      <ng-template matStepLabel>Odaberite majstore</ng-template>
      <div class="tabelaMajstori">
        <div class="filters">
          <mat-form-field fxFlex="40%">
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>

          <mat-form-field>
            <mat-select [formControl]="kategorijaFilter" placeholder="Unesite Kategoriju">
              <mat-option *ngFor="let kategorija of kategorije" [value]="kategorija.id">
                {{kategorija.naziv}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="table">

          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="Id">
              <th mat-header-cell *matHeaderCellDef [style.display]="'none'">id</th>
              <td mat-cell *matCellDef="let adv" [style.display]="'none'">{{adv.Id}}</td>
            </ng-container>

            <ng-container matColumnDef="Ime">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ime</th>
              <td mat-cell *matCellDef="let adv">{{adv.ime}}</td>
            </ng-container>

            <ng-container matColumnDef="Prezime">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>prezime</th>
              <td mat-cell *matCellDef="let adv">{{adv.prezime}}</td>
            </ng-container>

            <ng-container matColumnDef="Email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>email</th>
              <td mat-cell *matCellDef="let adv">{{adv.email}}</td>
            </ng-container>

            <ng-container matColumnDef="Mesto">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>mesto</th>
              <td mat-cell *matCellDef="let adv">{{adv.mesto}}</td>
            </ng-container>
            <ng-container matColumnDef="Ulica">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Ulica</th>
              <td mat-cell *matCellDef="let adv">{{adv.ulica}}</td>
            </ng-container>
            <!-- <ng-container matColumnDef="Checked">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Odabir adv</th>
            <td mat-cell *matCellDef="let adv"><mat-checkbox [(ngModel)]="adv.Checked"></mat-checkbox></td>
          </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>
        </div>
        <div class="paginator">
          <mat-paginator [pageSize]="2" [pageSizeOptions]="[2, 4, 6, 10, 20]">
          </mat-paginator>
        </div>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="save()">Snimi</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
