<div class="registracijaAdvokata">
  <mat-card class="registracijaAdvokata-card">
      <div>
        <mat-form-field>
          <input matInput type="text" placeholder="Ime" [(ngModel)]="majstor.ime">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="text" placeholder="Prezime"  [(ngModel)]="majstor.prezime">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="text" placeholder="user name"  [(ngModel)]="majstor.userName">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="password" placeholder="password"  [(ngModel)]="majstor.password">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="text" placeholder="Email"  [(ngModel)]="majstor.email">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="text" placeholder="Mesto"  [(ngModel)]="majstor.mesto">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="text" placeholder="Ulica i broj"  [(ngModel)]="majstor.ulica">
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-select placeholder="Unesite Kategoriju" (selectionChange)="onParentChanged($event)" >
          <mat-option *ngFor="let kategorija of kategorije" [value]="kategorija.id">
            {{kategorija.naziv}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select  [(ngModel)]="majstor.kategorije" placeholder="Unesite pod Kategoriju" multiple>k
          <mat-option *ngFor="let podKategorija of podKategorije" [value]="podKategorija">
            {{podKategorija.naziv}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="button-registar">
        <button mat-button color="primary" (click)="save()">Register</button>
      </div>
  </mat-card>
</div>
