<div class="div-editMajstor">
        <mat-card class="card-editMajstor">
                <mat-form-field>
                    <input matInput [(ngModel)]="trenutniKorisnik.ime" placeholder="Ime">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [(ngModel)]="trenutniKorisnik.prezime" placeholder="Prezime">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [(ngModel)]="trenutniKorisnik.userName" placeholder="User Name">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [(ngModel)]="trenutniKorisnik.password" placeholder="Password">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [(ngModel)]="trenutniKorisnik.email" placeholder="Email">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [(ngModel)]="trenutniKorisnik.mesto" placeholder="Mesto">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [(ngModel)]="trenutniKorisnik.ulica" placeholder="Ulica">
            
                </mat-form-field>
                <button mat-button (click)="Submit()">edit</button>
            
            </mat-card>
            </div>