<div mat-dialog-content>
  <p>Enter type of payment</p>
  <mat-form-field>
    <mat-label>Enter type of payment</mat-label>
    <mat-select [(ngModel)]="data.typeOfPayment" required>
      <mat-option value="procentualno">Procentualno</mat-option>
      <mat-option value="novcano">Cash</mat-option>
    </mat-select>

  </mat-form-field>
  <p>Enter price</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.price" />
  </mat-form-field> 

  <p>Your comment</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.comment">
  </mat-form-field>
  <mat-form-field *ngIf="hideUserOptions">
    <input matInput [(ngModel)]="data.startDate" [matDatepicker]="picker" placeholder="Enter date to start">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field *ngIf="hideUserOptions">
    <input matInput [(ngModel)]="data.finishDate" [matDatepicker]="picker" placeholder="Enter date when finish">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-checkbox *ngIf="hideUserOptions" [(ngModel)]="data.isFinal">Final price</mat-checkbox>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="onYesClick()" [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
