<div class="podKategorijaClass">
  <mat-card class="podKategorija-card">
    <form [formGroup]="form" (ngSubmit)="advokatService.postPodKategorija(form.value)">
      <mat-form-field>
        <mat-select formControlName="ParentId" placeholder="Unesite Kategoriju">
          <mat-option *ngFor="let kategorija of kategorije" [value]="kategorija.id">
            {{kategorija.naziv}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <mat-form-field>
          <input matInput type="text" placeholder="Unesite Naziv Pod Kategorije" formControlName="Naziv">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="text" placeholder="Unesite Opis Pod Kategorije" formControlName="Opis">
        </mat-form-field>
      </div>
      <button mat-button color="primary">Dodaj Pod Kategoriju</button>

    </form>
  </mat-card>
</div>
