.tab{
  justify-content: center
}
.search{
  display: flex;
  justify-content: center;
}
.mat-table{
  box-shadow: 1px 5px 15px #888;
  width: 90%;
}
.tableDiv {
  display: flex;
  justify-content: center;
}
.select{
  display: flex;
    justify-content: center;
}
.field-search{
  width: 50%;

}