<mat-tab-group (selectedTabChange)="handleTabChange($event.index)" class="tab">
  <mat-tab label="Svi">
  </mat-tab>
  <mat-tab label="Prihvaceni">
  </mat-tab>
  <mat-tab label="U Procesu">
  </mat-tab>
  <mat-tab label="Odbijeni od advokata">
  </mat-tab>
  <mat-tab label="Odbijeni">
  </mat-tab>
</mat-tab-group>

<div class="search">
  <mat-form-field class="field-search">
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="filterInputValue">
  </mat-form-field>
</div>
<div class="select" *ngIf="sviSlucajeviOdabir">
  <mat-form-field >
    <mat-label>Odaberite slucaj</mat-label>
    <mat-select [(ngModel)]="slucajValue" >
      <mat-option *ngFor="let slucaj of sviSlucajeviOdabir" [value]="slucaj">{{slucaj.naziv}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="tableDiv">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="ime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ime </th>
      <td mat-cell *matCellDef="let element"> {{element.ime}} </td>
    </ng-container>
    <ng-container matColumnDef="prezime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prezime </th>
      <td mat-cell *matCellDef="let element"> {{element.prezime}} </td>
    </ng-container>
    

    <ng-container matColumnDef="kolicina">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Ponudjena cena </th>
      <td mat-cell *matCellDef="let element">
        <div>
          {{element.cenovnici.kolicina}}
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="datumKreiranja">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum kreiranja</th>
        <td mat-cell *matCellDef="let element">
          {{element.slucaj.datumKreiranja | date: 'mediumDate'}}
        </td>
      </ng-container>
    <ng-container matColumnDef="pocetakRada">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Pocetak rada</th>
      <td mat-cell *matCellDef="let element">
        {{element.cenovnici.pocetakRada | date: 'mediumDate'}}
      </td>
    </ng-container>
    <ng-container matColumnDef="zavrsetakRada">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Zavrsetak rada</th>
      <td mat-cell *matCellDef="let element">
        {{element.cenovnici.zavrsetakRada | date: 'mediumDate'}}
      </td>
    </ng-container>
    <ng-container matColumnDef="vrstaPlacanja">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Vrsta Placanja </th>
      <td mat-cell *matCellDef="let element">
        {{element.cenovnici.vrstaPlacanja}}
      </td>
    </ng-container>
    <ng-container matColumnDef="naziv">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Slucaj </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.slucaj.naziv != null"><a (click)="openDialogPrikazSlucaja(element)">
            {{element.slucaj.naziv}}
          </a>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef> Prihvati/odbaci </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.slucajStatusId === 7 || element.slucajStatusId === 4 ; else context">
          <!-- <div *ngIf="element.slucajStatusId !== 1 || element.slucajStatusId !== 6 ; else odgMajstora"> -->
            <button mat-icon-button (click)="prihvacenSlucaj(element)">
              <mat-icon class="material-icons">done </mat-icon>
            </button>
            <!-- <div *ngIf="!element.cenovnici.isKonacan"> -->
              <button mat-icon-button (click)="openDialogEdit(element)" *ngIf="!element.cenovnici.isKonacan">
                <mat-icon class="material-icons">edit</mat-icon>
              </button>
            <!-- </div> -->
            <button mat-icon-button (click)="odbijenSlucaj(element)">
              <mat-icon class="material-icons">delete</mat-icon>
            </button>
          <!-- </div> -->
        </div>
        <ng-template #odgMajstora>
          Ceka se odgovor majstora
        </ng-template>
        <ng-template #context>
          {{handleButton(element)}}
        </ng-template>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
<!-- </mat-card> -->
