<mat-tab-group (selectedTabChange)="handleTabChange($event)" class="tab">
  <mat-tab label="Prihvaceni">
  </mat-tab>
  <mat-tab label="U Procesu">
  </mat-tab>
  <mat-tab label="Odbijeni od advokata">
  </mat-tab>
  <mat-tab label="Odbijeni">
  </mat-tab>
</mat-tab-group>

<mat-card>
  <mat-form-field class ="search">
    <mat-label>Search</mat-label>
    <input matInput [formControl]="nameFilter">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="ime">
      <th mat-header-cell *matHeaderCellDef> Ime </th>
      <td mat-cell *matCellDef="let element"> {{element.ime}} </td>
    </ng-container>
    <ng-container matColumnDef="prezime">
      <th mat-header-cell *matHeaderCellDef> Prezime </th>
      <td mat-cell *matCellDef="let element"> {{element.prezime}} </td>
    </ng-container>
    <ng-container matColumnDef="tekst_Zahteva">
      <th mat-header-cell *matHeaderCellDef> Tekst Zahteva </th>
      <td mat-cell *matCellDef="let element"> {{element.tekst_Zahteva}} </td>
    </ng-container>

    <ng-container matColumnDef="cena">
      <th mat-header-cell *matHeaderCellDef> Ponudjena cena </th>
      <td mat-cell *matCellDef="let element">
        <div>
          <!-- <div *ngIf="validateNesto(element, cenovnik)"> -->
          <!-- {{getKolicinuCenovnika(element)}} -->
          {{element.cenovnici.kolicina}}
          <!-- </div> -->
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="zavrsetakRada">
      <th mat-header-cell *matHeaderCellDef>Zavrsetak rada</th>
      <td mat-cell *matCellDef="let element">
        {{element.cenovnici.zavrsetakRada | date: 'mediumDate'}}
      </td>
    </ng-container>
    <ng-container matColumnDef="vrstaPlacanja">
      <th mat-header-cell *matHeaderCellDef> Vrsta Placanja </th>
      <td mat-cell *matCellDef="let element">
        {{element.cenovnici.vrstaPlacanja}}
      </td>
    </ng-container>
    <ng-container matColumnDef="opis">
      <th mat-header-cell *matHeaderCellDef>Slucaj </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.slucaj.naziv != null"><a (click)="openDialogPrikazSlucaja(element)">
            {{element.slucaj.naziv}}
          </a>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef> Prihvati/odbaci </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.slucajStatusId === 7 || element.slucajStatusId === 4 || element.slucajStatusId === 1; else context">
          <!-- <div *ngIf="element.slucajStatusId === 1; else prihvacen"> -->
            <button mat-icon-button (click)="prihvacenSlucaj(element)">
              <mat-icon class="material-icons">done </mat-icon>
            </button>
            <button mat-icon-button (click)="openDialogEdit(element)">
              <mat-icon class="material-icons">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="odbijenSlucaj(element)">
              <mat-icon class="material-icons">delete</mat-icon>
            </button>
          <!-- </div> -->
        </div>
        <!-- <ng-template #prihvacen>
          Vec prihvacen slucaj
        </ng-template> -->
        <ng-template #context>
          {{handleButton(element)}}
        </ng-template>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
