<mat-card>
    <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput [formControl]="nameFilter">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="ime">
          <th mat-header-cell *matHeaderCellDef> Ime </th>
          <td mat-cell *matCellDef="let element"> {{element.majstor.ime}} </td>
        </ng-container>
        <ng-container matColumnDef="prezime">
          <th mat-header-cell *matHeaderCellDef> Prezime </th>
          <td mat-cell *matCellDef="let element"> {{element.majstor.prezime}} </td>
        </ng-container>
        <ng-container matColumnDef="tekst_Zahteva">
          <th mat-header-cell *matHeaderCellDef> Tekst Zahteva </th>
          <td mat-cell *matCellDef="let element"> {{element.tekst_Zahteva}} </td>
        </ng-container>

        <ng-container matColumnDef="cena">
          <th mat-header-cell *matHeaderCellDef> Ponudjena cena </th>
          <td mat-cell *matCellDef="let element">
            <div *ngFor="let item of element.slucaj.cenovniks">
              <div *ngIf="element.majstor.idenity.id == item.idenityId">
                {{item.kolicina}}
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="vrstaPlacanja">
          <th mat-header-cell *matHeaderCellDef> Vrsta Placanja </th>
          <td mat-cell *matCellDef="let element">
            <div *ngFor="let item of element.slucaj.cenovniks">
              <div *ngIf="element.majstor.idenity.id == item.idenityId">
                {{item.vrstaPlacanja}}
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="opis">
          <th mat-header-cell *matHeaderCellDef> Opis Slucaja </th>
          <td mat-cell *matCellDef="let element"><div *ngIf="element.slucaj.opis != null">{{element.slucaj.opis}}</div> </td>
        </ng-container>
        <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef> Prihvati/odbaci </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.slucajStatusId === 6">
              <button mat-icon-button (click)="prihvacenSlucaj(element)">
                <mat-icon class="material-icons">done </mat-icon>
              </button>
              <button mat-icon-button (click)="openDialogEdit(element)">
                <mat-icon class="material-icons">edit</mat-icon>
              </button>
              <button mat-icon-button (click)="odbijenSlucaj(element)">
                <mat-icon class="material-icons">delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</mat-card>
