div.show-image {
    position: relative;
    float:left;
    margin:5px;}

div.show-image:hover mat-icon
  {
  display: block;
  }

div.show-image mat-icon {
    position:absolute;
    top:0;
    left:0;
    display:none;
}
.card-edit {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.pictures{
  display: flex;
  justify-content: center;
}
.main-div {
  display: flex;
  justify-content: center;
}
.div-button {
  display: flex;
  justify-content: center;
}
.mat-form-field {
  display: flex;
  justify-content: center;
  width: 50%;
}
.input {
  display: flex;
  justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* .material-icon1{
display: flex;
align-items: center;
justify-content: center;
font-size: 40px;
} */
