<mat-card>
  <div>
    <mat-form-field>
      <input matInput [(ngModel)]="slucaj.naziv" placeholder="Unesite naziv">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="slucaj.opis" placeholder="Unesite Opis">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="slucaj.KrajnjiRokZaOdgovor" [matDatepicker]="picker" placeholder="Izaberite Krajnji rok za odgovor">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="slucaj.PocetakRada" [matDatepicker]="picker1" placeholder="Izaberite pocetak Rada">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="slucaj.ZavrsetakRada" [matDatepicker]="picker2" placeholder="Izaberite zavrsetak rada">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-select (selectionChange)="onParentChanged($event)" placeholder="Unesite Kategoriju">
        <mat-option *ngFor="let kategorija of kategorije" [value]="kategorija.id">
          {{kategorija.naziv}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select  [(ngModel)]="slucaj.kategorijaId" placeholder="Unesite pod Kategoriju" >
        <mat-option *ngFor="let podKategorija of podKategorije" [value]="podKategorija.id">
          {{podKategorija.naziv}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <input type="file" accept=".png, .jpg, .jpeg" (change)="onUploadChange($event)" placeholder="Unesite Opis" multiple>
    <mat-card>
      <table>
        <tr>
          <th>
            Slika
          </th>
        </tr>
        <tr *ngFor="let item of slika">
          <th width="90%">
            {{item.naziv}}
          </th>
        </tr>
      </table>
    </mat-card>
  </div>
  <button mat-button (click)="kreiranjeSlucaja()">Snimi</button>
</mat-card>
