<div class="kreiranjeS">
  <mat-card class="mainCard">
    <mat-form-field>
      <input matInput [(ngModel)]="slucaj.naziv" placeholder="Unesite naziv">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="slucaj.opis" placeholder="Unesite Opis">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="slucaj.KrajnjiRokZaOdgovor" [matDatepicker]="picker"
        placeholder="Izaberite Krajnji rok za odgovor">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-select (selectionChange)="onParentChanged($event)" placeholder="Unesite Kategoriju">
        <mat-option *ngFor="let kategorija of kategorije" [value]="kategorija.id">
          {{kategorija.naziv}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select [(ngModel)]="slucaj.kategorijaId" placeholder="Unesite pod Kategoriju">
        <mat-option *ngFor="let podKategorija of podKategorije" [value]="podKategorija.id">
          {{podKategorija.naziv}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <input type="file" accept=".png, .jpg, .jpeg" (change)="onUploadChange($event)" placeholder="Unesite Opis" multiple>
    <div class="prikazSlika">
    <div *ngFor="let img of prikazSlike" class="show-image" style="max-width: 90px;">
      <img [src]="img.prikaz" height="80" *ngIf="img.prikaz && img.type === pdf">
      <mat-icon class="material-icons" (click)="deleteImage(img)">clear</mat-icon>
      <pdf-viewer [src]="pdfSrc" 
              [original-size]="false"
              [autoresize] = "true"
  ></pdf-viewer>
    </div>
  </div>
    <!-- <div> -->
    <button mat-button (click)="kreiranjeSlucaja()">Snimi</button>
    <!-- </div> -->
  </mat-card>
</div>